<form (ngSubmit)="submit()" #form>

  <div class="form-group">
    <label for="title">Title</label>
    <input   type="text" class="form-control" id="title" aria-describedby="emailHelp"
    name="title"       placeholder="Enter Title" [(ngModel)]="project.title">
  </div>

  <div class="form-group">
    <button class="btn-light" (click)="fileInput.click()">Choose Picture</button>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
           [style.width]="progress+'%'">
        {{progress}}
      </div>
    </div>
    <img style="height: 200px " src="{{ imgsrc }}" *ngIf="progress">
    <input #fileInput (change)="chooseFiles($event) " type="file" class="form-control-file" style="display: none" >
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input [(ngModel)]="project.description" type="text" class="form-control" id="description" placeholder="Description" name="description">
  </div>

  <div class="form-group">
    <label for="github">Github</label>
    <input [(ngModel)]="project.github" type="text" class="form-control" id="github" placeholder="Github" name="desciption">
  </div>

  <div class="form-group">
    <label for="youtube">Youtube</label>
    <input [(ngModel)]="project.youtube" type="text" class="form-control" id="youtube" placeholder="Youtube" name="youtube">
  </div>

  <div class="form-group">
    <label for="www">Website</label>
    <input [(ngModel)]="project.www" type="text" class="form-control" id="www" placeholder="url" name="www">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>


</form>
